
<div class="tech-btm">
    <h4>Mail Bültenine Abone Olun</h4>
    <p>Teknoloji, yazılım ve diğer bloglar... </p>
    <form method="post">
        <input type="email" placeholder="Email" required="" name="Mail" id="Mail">
        <input type="submit" id="addmail" value="Subscribe">
    </form>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

    $("#addmail").click(function(e){

          var mail = $('#Mail').val();
           $.ajax({
               type : "POST",
               url : "/NewsLetter/SubScribeMail",
               data :{ mail:mail},
               success : function(){
                     location.reload();
               }
           });
    });
</script>
